{% extends "billingApp/base.html" %} {% load static %} {% block content %}
</div>

<div class="card card2">
    <div class="card-content has-text-centered">
        <h1 class="is-size-3 p-5 mt-6">Add Units for <strong>{{ building.buildingName }}</strong></h1>
        <form method="POST" action="{% url 'add_unit' pk=building.pk %}">
            {% csrf_token %}
            <div class="columns is-justify-content-center p-4">
                <div class="column is-3">
                    <label for="unit_number">Unit Number:</label>
                    <input type="text" class="input" id="unit_number" name="unit_number" placeholder="Unit / Room Number" required />
                </div>
            </div>
            <div class="columns is-justify-content-center p-4">
                <div class="column is-3">
                    <button type="submit" class="button is-primary">Add Unit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% if messages %}
    <div class="columns is-justify-content-center p-4">
        <div class="column is-6">
            {% for message in messages %}
                <div class="notification is-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% endblock %}
