{% extends 'billingApp/base.html' %} {% load static %} {% block content %}
</div>
<div class="is-right pb-4">
  <a
    href="{% url 'payment_details' pk=payment.id %}"
    class="button is-small is-right"
    style="background-color: #f7f2ed"
  >
    Back to Payment Details
  </a>
</div>

<div class="card">
  <div class="card-content">
    <p class="is-size-5">Tenant: {{ tenant.companyName|default:tenant.contactPerson }}</p>
    <h1 class="is-size-3 has-text-weight-bold pb-5">Payment ID: {{ payment.referenceNumber }}</h1>
    <p class="is-size-5 has-text-weight-bold mt-4 has-text-centered">Proof of Payment:</p>

    <div class="has-text-centered mt-6">
      {% if payment.proofOfPayment %} {% with file_url=payment.proofOfPayment.url %} {% if ".pdf" in file_url|lower %}

      <!-- DO NOT show preview for PDF -->
      <p class="is-size-5">PDF file uploaded</p>

      <a href="{{ file_url }}" target="_blank" class="button is-info mt-3">Open PDF in New Tab</a>

      {% else %}

      <!-- Show image normally -->
      <img
        src="{{ file_url }}"
        alt="Proof of Payment"
        style="max-width: 100%; max-height: 600px; border: 1px solid #ddd; padding: 10px"
      />

      {% endif %} {% endwith %} {% else %}
      <p class="is-size-5 has-text-danger">No proof of payment available</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
